.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

h3{
  font-family: 'Rowdies', cursive;
}
.table-container {
    max-width: 100%;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }